<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=640; user-scalable=no; initial-scale=0.5;" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{query}}</title>
</head>
<body>

<ul>{{#results}}<li><a href="http://api.twitter.com/1/users/show.json?user_id={{from_user_id}}"><strong>{{from_user}}</strong></a><a href="http://api.twitter.com/1/statuses/show/{{id}}.json">{{text}}</a></li>{{/results}}</ul>
</body></html>